#daftar-siswa {
    background-color: #111827;
    color: #f3f4f6;
    text-transform: capitalize;
    width: 400;
    font-family: sans-serif;
}

p:hover {
    background: #E5E7EB;
    color: #111827;
}

p {
    margin: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}